@tailwind base;
@tailwind components;
@tailwind utilities;

.Card{
    @apply w-48 h-64 shadow-lg rounded-lg flex-none;

    div:nth-child(1){
        @apply w-full h-3/5 rounded-t-lg bg-cover
    }

    div:nth-child(2){
        @apply w-full h-2/5 rounded-b-lg px-4;

        p:nth-child(1){
            @apply font-bold text-xl px-2 py-2;
        }
        p:nth-child(2) {
            @apply text-base px-2
        }

    }
}

